[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    padding: 12px 6px 12px 10px;
    width: 170px;
}

.title {
    font-size: 14px;
    margin-bottom: 6px;
}

[data-theme='2'] .select {
    background: #DDEEFF;
    border-color: #323232;
    color: #000;
}

[data-theme='3'] .select {
    background: #212A34;
    border-color: #C2C2C2;
    color: #FFF;
}