.sidebar {
    padding: 60px 70px;
    position: absolute;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13), 0 1px 2px rgba(29, 33, 38, 0.1);
    height: 100vh;
    width: 270px;
    left: -270px;
    transition: .3s;
    z-index: 9999;
}

.sidebar.open {
    left: 0;
    position: absolute;
    background-color: #fff;
    transition: .3s;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .3;
    z-index: 9998;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.nav a {
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    color: #58ACFF;

}
.nav a:active {
    color: #3D6B99;
}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.close img {
    width: 24px;
    height: 24px;
}
