.radio {
    cursor: pointer
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer
}

.options {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
