.spanBlock {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    line-height: 20px;
}

.span {
    color: #0080FF;
}

.input {
    width: 100%;
    max-width: 276px;
    padding: 8px 24px;
    color: #000;
    font-weight: 500;
    line-height: 20px;
}
.input:focus {
    border: 1px solid #D1D1D1;
}

.pen {
    width: 24px;
    height: 24px;
}