.greetingForm {
    font-family: Montserrat,  sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
    color: #CC0000;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    min-width: 370px;
    height: 36px;
    margin-bottom: 4px;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
}

.input:focus {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC0000;
    border-radius: 5px;
    min-width: 370px;
    height: 36px;
    margin-bottom: 4px;
    outline: none;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
}

.button {
    height: 36px;
    border-radius: 3px;
    padding: 5px 24px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: #0066CC;
}

.button:focus {
    background-color: #0066CC;
}

.button:active {
    background-color: #0066CC;
}

.button:disabled {
    background-color: #80B3E6;
}

.text {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
}

.greeting {
    font-weight: 500;
}
